* {
    border: none;
    font-size: 14px;
    font-family: "UbuntuMono Nerd Font" ;
    min-height: 25px;
}

window#waybar {
  background: transparent;
 }



#menu,
#window,
#tray-menu,
#network,
#irl {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
  background-color: #000000;
  border-radius: 16px;
  color: #000000;
}

#window {
 color: #FFFFFF; 
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#custom-power,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#workspaces
#clock {
  color: #FFFFFF;
  padding: 0 5px 0px 5px;
}

#pulseaudio {
  color: #FFFFFF;
  padding-top: 3px;
}

#temperature.critical,
#pulseaudio.muted {
  color: #FF0000;
}

#clock{
  color: #5fd1fa;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
