* {

   background-color: #181824;
   color: #cdd6f4;

    border: none;
    border-radius: 0;
    font-size: 14px;
    font-family: "UbuntuMono Nerd Font" ;
    min-height: 25px;
}

.modules-left {
    margin-left: 8px;
}


.modules-right {
  margin-right: 8px;
}

#menu,
#window,
#tray-menu,
#network,
#custom-power,
#irlbattery,
#custom-clipboard,
#bluetooth,
#pulseaudio,
#network,
#cpu,
#custom-weather,
#tray,
#workspaces
#clock {
  min-width: 12px;
  margin: 0 7.5px;
}

#pulseaudio {
  padding-top: 3px;
}

#temperature.critical,
#pulseaudio.muted {
  color: #FF0000;
}

#clock{
  color: #5fd1fa;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
