@import "../../flieris-dotfiles/colours/waybar.css";
* {

   background-color: @Mantle;
   color: @Text;

    border: none;
    border-radius: 0;
    font-size: 16px;
    font-family: "UbuntuMono Nerd Font" ;
    font-weight: bold;
    min-height: 25px;
}

.modules-left {
    margin-left: 8px;
}


.modules-right {
  margin-right: 8px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 1px;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @Text;
}

#menu,
#window,
#tray-menu,
#network,
#custom-power,
#irlbattery,
#custom-clipboard,
#bluetooth,
#pulseaudio,
#network,
#custom-weather,
#cpu,
#tray,
#clock {
  min-width: 12px;
  margin: 0 7.5px;
}

#workspaces button {
    padding: 0 0;
    background-color: @Mantle;
    color: @Text;
}
#workspaces button.active {
    background-image: linear-gradient(0deg, @Mauve, @Surface_1);
    box-shadow: inset 0 -3px @Text;
}

#pulseaudio {
  padding-top: 3px;
}

#temperature.critical,
#pulseaudio.muted {
  color: @Red;
}

#clock{
  color: @Teal;
}

#battery.charging {
    color: @Rosewater;
    background-color: @Green;
}

#battery.warning:not(.charging) {
    background-color: @Peach;
    color: @Crust;
}

#battery.critical:not(.charging) {
    background-color: @Red;
    color: @Rosewater;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes blink {
    to {
        background-color: @Rosewater;
        color: @Crust;
    }
}
